<div class="container">
  <div class="header">
    
    <h1 id="pageTitle">Burgers! Burgers! Burgers!</h1>
    
  </div>

  <div class="row">
    <div class="box">
      <h2 class="boxTitle">Not devoured:</h2>
      <hr>
      {{#each burgers}}
        {{#unless devoured}}
          <div class="burgerBox">
            <button class="devourUndevour devour" data-id="{{id}}" data-devoured="{{devoured}}">Devour it!</button>

            {{burger_name}}
            
            <button class="deleteBurger" data-id="{{this.id}}">X</button>

          </div>
        {{/unless}}
      {{/each}}
    </div>

    <div class="box">
      <h2 class="boxTitle">Devoured:</h2>
      <hr>
      {{#each burgers}}
        {{#if devoured}}
          <div class="burgerBox">
            
            <button class="devourUndevour undevour" data-id="{{id}}" data-devoured="{{devoured}}">Return it?</button>

            {{burger_name}}

            <button class="deleteBurger" data-id="{{this.id}}">X</button>
            
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>


  <div id="addBurger">
    <h2 class="boxTitle">Add a Burger</h2>
    <hr>
    <form class="burgerForm">

      <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" name="burger_name">
        <br>
        <input type="radio" name="devoured" value="0" checked> Not Devoured!
        <input type="radio" name="devoured" value="1"> Devoured!
      </div>

      <button id="burgerButton" type="submit">Add Burger</button>
    </form>
  </div>
</div>

